.game-container{
  border: 2px solid black;
  flex-direction: column;
  background-color: whitesmoke;
}

@media (max-device-width: $small){
  .game-container{
    width:100vw;
  }
}

@media (max-device-width: $medium) and (min-device-width: $small){
  .game-container{
    width:600px;
  }
}

@media (max-device-width: $large) and (min-device-width: $medium){
  .game-container{
    width: 1000px;
  }
}

.center-flex{
  display: flex;
  justify-content: center;
}

.speed-container{
  flex:1 0 0;
  border-bottom: 1px solid black;
  min-height:50px;
}

.score-container{
  flex: 0 0 200px;
  text-align: right;
  margin-top:auto;
  padding:7px;
}

.game-window{
  flex: 1 1 0;
  width:100%;
  min-height:100px;
  position: relative;
  overflow: hidden;
  height:100%;
}